body {
  color: #fff;
}
.custom_navbar {
  background-color: #2c2c38;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  color: aliceblue;
  width: 100%;
}
.custom_nav_link {
  color: #fff;
  background-color: #645fc6;
  width: 10rem;
  border-radius: 25px;
  text-align: center;
}
.custom_nav_link:hover {
  color: #fff;
}
.custom_nav_link:visited {
  color: #fff;
}
.create__task {
  width: 25rem;
  height: 2.5rem;
  background-color: #645fc6;
  color: #fff;
  border-radius: 25px;
  margin-bottom: 1rem;
  border: none !important;
}
