.home__container {
  display: grid;
  grid-template-columns: 0.05fr 1.9fr;
  grid-template-rows: 0.25fr 1.75fr;
  grid-auto-columns: 1fr;
  gap: 0px 0;
  grid-auto-flow: row;
  grid-template-areas:
    "aside nav"
    "aside main";
}

.aside {
  grid-area: aside;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
  background-color: #21212d;
  display: flex;
  flex-wrap: wrap;
}
.todo {
  color: aliceblue;
  width: 20rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

.text_container {
  display: flex;
  gap: 0.5rem;
}
.todo_container {
  height: fit-content;
  background-color: #2c2c3879;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 15px;
}
.taskTitle {
  font-weight: 600;
}
.todo_container :nth-child(2) {
  font-size: 14px;
  color: rgb(138, 132, 255);
  margin-top: 0.8rem;
  font-weight: 400;
}
